/* Link All CSS File */

@import './login.css';
@import './sign up.css';
@import './student.css';
@import './school.css';
@import './index.css';

/* Other CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;    
}

.limit{
    max-width: 1280px;
}

----------- /* Comam CSS */ ----------



/* All H1 Section CSS */

.heading h1{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* All Image Section CSS */

img{
    height: 65px;
    width: 65px;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
}


/* All Input Section CSS */

input::placeholder{
    color: black;
}

input{
    background-color: rgba(250, 249, 249, 0.614);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 10px 10px 50px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    width: 100%;
    cursor: pointer;
}


/* All Button Section CSS */

.btn{
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button{
    font-weight:900;
    padding:15px;
    border: none;
    width: 300px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
}

.btn button:hover{
    background: linear-gradient(135deg, #175862, #021014);
    transition: all ease-in-out 0.3s; 
    border: 2px solid black;
    color: white;
    font-weight: 900;
}

.inner-section.limit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* responsive Website */


